.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10vw;
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden;
}

// .body{
//   font-size: 5vw;
// }

.lineMask{
  overflow: hidden;
}

.lineMask p{
  margin: 50px;
  // font-weight: 700;
}